
        main {
            margin-top: 50px;
        }

        body {
            background-color: lightgray;
        }

        h1 {
            text-align: center;
        }

        h2 {
            margin: 30px;
            text-align: center;

        }

        .logo {
            width: 45px;
            height: 45px;
        }

        p {
            text-align: center;
            font-size: 15px;
        }

        h3 {
            text-align: center;
        }

        footer {
            padding: 40px;
            text-align: center;

        }

        .cards {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;

        }

        .cards .card {
            width: calc(25% - 20px);
        }
